.heading{
    text-align: center;
    color: chartreuse;
}
.table-title {
    width: 100%;
}
table, th, td {
  border: 11px solid #ddd;
  border-collapse: collapse;
  text-align: center;
  font-size: 30px;
}
th, td {
  padding: 5px;
  text-align: left; 
    text-align: center
}
